<div class="teams">
  <img src="../../assets/people.svg" alt="" />
  <h2>Get Started By Adding Teams & Players To The Tournament</h2>
  <p>
    To create events, add teams taking part in this tournament by clicking the
    “Add teams” button below and add players to these teams. Teams can be
    removed from the tournament if the team has not yet taken part in any of the
    events
  </p>
  <button class="teams-button" (click)="onclick()">
    <img src="../../assets/add-icon.svg" alt="" />
    <span>Add Teams</span>
  </button>
</div>

<div class="mask" *ngIf="popup">
  <div class="model">
    <div class="model-header">
      <h1>Team Repository</h1>
      <a class="close" (click)="onclick()"
        ><img src="../../assets/close-button.svg" alt=""
      /></a>
    </div>
    <div class="model-border">
      <hr />
    </div>
    <div class="select-team">Select Teams</div>
    <div class="selection">
      <div class="search">
        <form action="#" class="search-form">
          <input
            type="text"
            class="search-form__input"
            placeholder="Search teams"
          />
          <button class="search-form__button">
            <img src="assets/search-icon.svg" alt="" />
          </button>
        </form>
      </div>
      <div class="create-team">
        <img src="assets/add-icon.svg" alt="" />
        <span>Create New Team</span>
      </div>
    </div>
    <div class="model-border model-border-alignment">
      <hr />
    </div>
    <div class="card-text">
      <div class="card-text__no">
        <div>20</div>
        <span>&nbsp;Teams</span>
      </div>
      <div class="card-text__sort">
        <span>Showing:&nbsp;&nbsp;&nbsp;</span>
        <div>Indian Premier League Teams &nbsp;</div>
        <img src="assets/down-arrow.svg" alt="" />
      </div>
    </div>
    <div class="item">
      <app-card
        class="color"
        *ngFor="let card of cardData"
        [card]="card"
      ></app-card>
    </div>
    <div class="add-button">
      <button [routerLink]="['./screen2']">Add Teams</button>
    </div>
  </div>
</div>
