<section class="snippets">
  <div class="snippets__tab">
    <img src="assets/events.svg" alt="" />
    <span>Events</span>
  </div>
  <div class="snippets__tab">
    <img src="assets/teams.svg" alt="" />
    <span>Teams</span>
  </div>
  <div class="snippets__tab">
    <img src="assets/merchandise.svg" alt="" />
    <span>Merchandises</span>
  </div>
  <div class="snippets__tab">
    <img src="assets/commentator.svg" alt="" />
    <span>Commentators</span>
  </div>
  <div class="snippets__tab">
    <img src="assets/sponsors.svg" alt="" />
    <span>Sponsors</span>
  </div>
</section>
