<div class="navbar">
  <div class="header">
    <img
      src="https://cdn.edisn.ai/sakura/v1.0/static/assets/img/icons/edisn-icon.svg"
    />
    <h1>Edisn</h1>
  </div>
  <div class="header-channel">
    <h2>Hello ESPN!</h2>
    <img src="../../assets/espn-logo.png" class="header-channel__logo" />
    <img src="../../assets/down-arrow.svg" class="header-channel__downarrow" />
  </div>
</div>

<div class="back-button">
  <img src="../../assets/back-button.svg" alt="" />
  <span>Back</span>
</div>
