$color-black: #070d18;
$color-white: #ffffff;
$color-dark-gray: #85859b;
$color-light-gray: #b9b9c8;
$color-light-gray-2: #979797;
$color-dark-gray-2: #44445a;
$color-light-blue-1: #5ddbee;
$color-dark-blue-1: #0e192d;
$color-dark-blue-2: #091222;
$color-dark-blue-3: #1c2b47;
