<div class="card-content">
  <div class="card-content--search">
    <form action="#" class="card-content--search__form">
      <input
        type="text"
        class="card-content--search__form__input"
        placeholder="Search teams"
      />
      <button class="card-content--search__form__button">
        <img src="assets/search-icon.svg" alt="" />
      </button>
    </form>
    <div class="card-content--search__add">
      <img src="assets/add-icon.svg" alt="" class="" />
      <div class="card-content--search__add_teams">Add Teams</div>
    </div>
  </div>
  <div class="card-text">
    <div class="card-text__no">10 <span>Teams</span></div>
    <div class="card-text__sort">
      <span>Sort By:</span>
      <div>Recently Created</div>
      <img src="assets/down-arrow.svg" alt="" />
    </div>
  </div>
  <div class="item">
    <app-card
      class="color"
      *ngFor="let card of cardData"
      [card]="card"
    ></app-card>
  </div>
  <div class="reset">
    <img src="assets/reset-icon.svg" alt="" />
    <span>Reset Team Data</span>
  </div>
</div>
