@import "../../colors.scss";

:host {
  grid-row: 3 / 4;
  grid-column: 1 / 7;
}

.heading-wrapper {
  padding-top: 3rem;
  h2 {
    font-size: 1.6rem;
    font-family: 600;
    padding-bottom: 1.5rem;
  }

  & > div {
    display: flex;
    padding-bottom: 2rem;
    justify-content: space-between;

    h1 {
      font-size: 2.8rem;
      font-weight: 600;
    }
  }
  hr {
    border-bottom: 1px solid $color-dark-gray-2;
  }

  p {
    font-size: 1.4rem;
    padding-top: 1.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    color: $color-dark-gray;

    span {
      color: $color-light-blue-1;
      white-space: nowrap;
      text-overflow: initial;
    }
  }
}
