/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Roboto:wght@400;500;700&display=swap");
@import "~app/colors.scss";

* {
  margin: 0;
  padding: 0;
}
html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px , 10px /16px = 62.5%
  padding: 30px 30px;
}
html,
body {
  font-family: Inter;
  color: #ffffff;
  background-color: #070d18;
  font-weight: 400;
  box-sizing: border-box;
}
